<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sdfas</title>


</head>
<body>
    <form id="loginForm" action="/login" method="POST">
        username:<input type="text" name="username" maxlength="20"/>
        pwd:<input type="password" name="password" minlength="6" maxlength="20">
        <input id="loginBtn" type="submit" value="login" >
    </form>
    
    {{.wrongMsg}}
</body>
<script>
</script>
</html>